@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Logo - Large
@media (min-width: 992px) {
  .logo-bg {
    background-color: $white;
    position: absolute;
    top: 2px;
  }

  .logo-image {
    width: 70px;
  }
}

// Logo - Smaller than large
@media (max-width: 991.98px) {
  .logo-bg {
    padding: 5px;
  }

  .logo-image {
    width: 60px;
  }
}


// Header
.header-links a {
  text-decoration: none;
  filter: brightness(100%);
}

.header-links a:hover {
  text-decoration: none;
  filter: brightness(120%);
}

.border-wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Large
@media (min-width: 992px) {
  .top-column-lg {
    margin-top: -16em !important;
  }

  .product-card {
    min-height: 400px;
  }

  .product-card > a > img {
    width: 50%;
  }
}

// Smaller than large
@media (max-width: 991.98px) {
  .top-column-lg {
    margin-top: -8em !important;
  }

  h1 {
    font-size: 1.8rem;
  }

  .product-card {
    min-height: 300px;
  }

  .product-card > a > img {
    width: 50%;
  }
}

// Larger than small
@media (max-width: 575.98px) {
  .top-column-lg {
    margin-top: 0em !important;
  }

  .product-card {
    min-height: 200px;
  }
}
