@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

.header-links a:hover {
  text-decoration: none;
}

.border-wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.demo-image {
  height: 450px;
}

// Large
@media (min-width: 992px) {
  .top-column-lg {
    margin-top: -17em !important;
  }
}

// Smaller than large
@media (max-width: 991.98px) {
  .top-column-lg {
    margin-top: -10em !important;
  }

  h1 {
    font-size: 2rem;
  }
}

// Larger than small
@media (max-width: 575.98px) {
  .top-column-lg {
    margin-top: -7em !important;
  }

  .demo-image {
    height: 300px;
  }
}
