@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap";

.border-wave {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  vertical-align: middle;
  overflow: hidden;

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.demo-image {
  height: 450px;
}
